name: Build Pull Request

on:
  pull_request:
    branches:
      - develop
      - release/*
      - support/*
    paths-ignore:
      - "**/README.md"
      - "CONTRIBUTING.md"
      - ".github/**"
      - "!.github/workflows/build-pr.yml"

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./mvnw -B -ntp verify sonar:sonar
